<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user/edit</title>
</head>
<body>

<div>
    <form th:method="PATCH" th:action="@{/user/{id}/edit(id=${idUser})}" th:object="${userDTO}">

        <label for="name">Enter name: </label>
        <input type="text" th:field="*{firstName}" id="name">
        <br/>

        <label for="surname">Enter surname: </label>
        <input type="text" th:field="*{lastName}" id="surname">
        <br/>

        <label for="age">Enter age: </label>
        <input type="text" th:field="*{age}" id="age">
        <br/>

        <label for="phone">Enter phone: </label>
        <input type="text" th:field="*{phoneNumber}" id="phone">
        <br/>
        <hr/>

<!--        <div>-->
<!--            <div th:each="house : ${userDTO.houses}">-->
<!--                <span th:text="${'id: ' + house.id + '   area: ' + house.area + '  garage: ' + house.garage}"></span>-->
<!--            </div>-->

<!--            <br/>-->
<!--            <form th:method="PATCH" th:action="@{/user/{id}/edit(id=${idUser})}">-->
<!--                <label th:for="idHouse">Добавить Дом (id)</label>-->
<!--                <input type="text" th:name="idHouse" th:id="idHouse">-->
<!--                <input type="submit" value="добавить дом">-->
<!--            </form>-->
<!--        </div>-->

<!--        <br/>-->
<!--        <hr/>-->

<!--        <div>-->

<!--            <div th:each="car : ${userDTO.cars}">-->
<!--                <span th:text="${'id: ' + car.id + '   name: ' + car.name + '  year: ' + car.createdYear}"></span>-->
<!--            </div>-->

<!--            <br/>-->

<!--            <form th:method="PATCH" th:action="@{/user/{id}/edit(id=${idUser})}">-->
<!--                <label th:for="idCar">Добавить Машину (id)</label>-->
<!--                <input type="text" th:name="idCar" th:id="idCar">-->
<!--                <input type="submit" value="добавить машину">-->
<!--            </form>-->
<!--        </div>-->

        <br/>

        <input type="submit" value="update data">
    </form>
</div>

</body>
</html>