<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user/edit</title>
</head>
<body>

<div>
    <form th:method="PATCH" th:action="@{/user/{id}/edit(id=${idUser})}" th:object="${userDTO}">

        <label for="name">Enter name: </label>
        <input type="text" th:field="*{firstName}" id="name">
        <br/>

        <label for="surname">Enter surname: </label>
        <input type="text" th:field="*{lastName}" id="surname">
        <br/>

        <label for="age">Enter age: </label>
        <input type="text" th:field="*{age}" id="age">
        <br/>

        <label for="phone">Enter phone: </label>
        <input type="text" th:field="*{phoneNumber}" id="phone">
        <br/>
        <hr/>
        <br/>

        <input type="submit" value="update data">
    </form>
</div>

</body>
</html>