<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>house/one</title>
</head>
<body>

<label for="id">id: </label>
<b th:text="${house.id}" id="id"></b>
<br/>

<label for="area">Area: </label>
<b th:text="${house.area}" id="area"> </b>
<br/>

<label for="garage">Garage: </label>
<b id="garage" th:if="${house.garage == true}">there is</b>
<b th:if="${house.garage == false}">there is not</b>
<br/>


<div th:each="user : ${house.users}">
    <a th:href="@{/user/{id}(id=${user.id})}"
       th:text="${'id:   ' + user.id + ' | name:  ' + user.firstName + ' | phone:   ' + user.phoneNumber}"/>
</div>
<br/>
<form th:method="PATCH" th:action="@{/house/{id}/add-user(id=${house.id})}">
    <label th:for="idUser">Добавить Человека (id)</label>
    <input type="text" th:name="idUser" th:id="idUser">
    <input type="submit" value="добавить человека">
</form>



<div th:each="car : ${house.cars}">
    <a th:href="@{/car/{id}(id=${car.id})}"
       th:text="${'id:   ' + car.id + ' | name:  ' + car.name + ' | year:   ' + car.createdYear}"/>
</div>
<br/>
<form th:method="PATCH" th:action="@{/house/{id}/add-car(id=${house.id})}">
    <label th:for="idCar">Добавить Машину (id)</label>
    <input type="text" th:name="idCar" th:id="idCar">
    <input type="submit" value="добавить машину">
</form>


<a th:href="@{/house/{id}/edit(id=${house.id})}">Edit</a>
<br/>

<form th:method="DELETE" th:action="@{/house/{id}(id=${house.id})}">
    <input type="submit" value="Delete">
</form>

</body>
</html>