<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>wheel/all</title>
</head>
<body>

  <table class="wheel-db">
    <tr>
      <th>id</th>
      <th>Type</th>
      <th>Radius</th>
      <th>Car-id</th>
      <th>Link</th>
    </tr>

    <th:block th:each="wheel : ${wheels}">
      <tr>
        <td th:text="${wheel.id}"/>
        <td th:text="${wheel.type}"/>
        <td th:text="${wheel.radius}"/>
        <td>
          <span th:text="${wheel.car.id + ' | car name: ' + wheel.car.name}" th:if="${wheel.car != null}"></span>
          <span th:text="${'-'}" th:if="${wheel.car == null}"></span>
        </td>

        <td><a th:href="@{/wheel/{id}(id=${wheel.id})}"> Go to wheel </a></td>
      </tr>
    </th:block>
  </table>

<br/>
<hr/>
<br/>

  <a href="/wheel/new">Create new wheel</a>

</body>
</html>