<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>wheel/one</title>
</head>
<body>

<label for="id">id: </label>
<b th:text="${wheel.id}" id="id"></b>
<br/>

<label for="type">type: </label>
<b th:text="${wheel.type}" id="type"></b>
<br/>

<label for="radius">radius: </label>
<b th:text="${wheel.radius}" id="radius"></b>
<br/>

<label>carId: </label>
<b th:text="${wheel.car.id}" th:if="${wheel.car != null}"></b>
<b th:text="${'нет машины'}" th:if="${wheel.car == null}"></b>

<br/>
<form th:method="PATCH" th:action="@{/car/{id}/update-car(id=${wheel.id})}">
    <label th:for="idCar">Добавить / изменить машину (id)</label>
    <input type="text" th:name="idCar" th:id="idCar">
    <input type="submit" value="Внести изменения">
</form>

<a th:href="@{/wheel/{id}/edit(id=${wheel.id})}">Edit</a>
<br/>

<form th:method="DELETE" th:action="@{/wheel/{id}(id=${wheel.id})}">
    <input type="submit" value="Delete">
</form>

</body>
</html>