<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>car/edit</title>
</head>
<body>

<div>
  <form th:method="PATCH" th:action="@{/car/{id}/edit(id=${idCar})}" th:object="${carDTO}">

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>

    <label for="surname">Enter comment: </label>
    <input type="text" th:field="*{comment}" id="surname">
    <br/>

    <label for="age">Enter created year: </label>
    <input type="text" th:field="*{createdYear}" id="age">
    <br/>

    <input type="submit" value="update data">
  </form>
</div>

</body>
</html>