<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Янаев</title>
</head>
<body>
<p>Ссылки, которые работают</p>
<b>USERS</b>
<p>/users</p>
<p>/users/all</p>
<p>/users/{id}</p>
<p>/users/{id}/edit</p>
<hr/>
<b>HOUSE</b>
<p>house</p>
<p>/house/all</p>
<p>/house/{id}</p>
<p>/house/{id}/edit</p>
<hr/>
<b>CAR</b>
<p>car</p>
<p>/car/all</p>
<p>/car/{id}</p>
<p>/car/{id}/edit</p>
<hr/>
<b>WHEEL</b>
<p>wheel</p>
<p>/wheel/all</p>
<p>/wheel/{id}</p>
<p>/wheel/{id}/edit</p>
</body>
</html>